{% extends 'layout.html' %}

{% block body %}
<!-- banner -->
<section class="banner_w3lspvt" id="home">
	<div class="csslider infinity" id="slider1">
	
				<div class="banner-top">
					<div class="overlay">
						<div class="container">
							<div class="w3layouts-banner-info text-center">
								<h3 class="text-wh">Smart Farm</h3>
								<h4 class="text-wh mx-auto my-4"><b>Ensure your farming startegy is well-informed for better results.</b></h4>
							</div>
						</div>
					</div>
				</div>
	</div>
</section>
<!-- //banner -->


<section class="core-value py-5 realheroes">
	<h3 class="heading mb-sm-5 mb-4 text-center"> The Real heroes</h3>
	<div class="container">

		<div class="row core-grids">
			<div class="col-lg-6 core-left">
				<img src="{{ url_for('static', filename='images/farmers.png') }}" class="img-fluid aboutimgd" alt="" />
			</div>
			<div class="col-lg-6 core-right">
				<h3 class="mt-4 ah">Cultivating the future, one seed at a time</h3>
				<p class="mt-3 ap">Farmers: The stewards of the land, the backbone of our nation, and the hands that feed the world.</p>
			</div>
		</div>
	</div>
</section>


<!-- core values -->
<section class="core-value py-5 aboutusd">
	<h3 class="heading mb-sm-5 mb-4 text-center whatwedo">What We Do</h3>
	<div class="container">

		<div class="row core-grids">
			<div class="col-lg-6 core-left">
				<img src="{{ url_for('static', filename='images/pic3.png') }}" class="img-fluid aboutimgdd" alt="" />
			</div>
			<div class="col-lg-6 core-right">
				<h3 class="mt-4 ah">Embarking on a mission to revolutionize agriculture</h3>
				<p class="mt-3 ap">Aspire to unlock the secrets of the soil by detecting elusive water leaks in pipes and offering nature's finest counsel on crops and fertilizers, all in service of nurturing the dreams of our farming heroes</p>
			</div>
		</div>
	</div>
</section>
<!-- //core values -->

<!-- Products & Services -->
<div class="services">
	<h3>The Service Catalog</h3>
	<div class="container" style="margin-left: 5%;">
        <div class="explore-card">
            <div class="face face1">
                <div class="content">
                    <div class="icon">
                        <img src="{{ url_for('static', filename='images/crop.jpg') }}" width="100%" height="100%">
                    </div>
                </div>
            </div>
            <div class="face face2">
                <div class="content">
                    <h3><a href="">Crop</a></h3>
                    <p>Provide guidance on the most appropriate crops to cultivate based on the prevailing conditions.</p>
                  <a href = "#" style="margin-left: 70px";
              ><button style="--color:#83CF09;--border:2px;--slant:.5em">Explore</button></a>
                </div>
            </div>
        </div>
        <div class="explore-card">
            <div class="face face1">
                <div class="content">
                    <div class="icon">
                       <img src="{{ url_for('static', filename='images/fertilizer.png') }}" width="100%" height="100%">
                    </div>
                </div>
            </div>
            <div class="face face2">
                <div class="content">
                    <h3>
                        <a href="">Fertilizer</a>
                    </h3>
                    <p>Offer advice on the optimal fertilizer choice tailored to the specific soil type and the crop in question.</p>
                  <a href = "#" style="margin-left: 70px";><button style="--color:#83CF09;--border:2px;--slant:.5em">Explore</button></a>
                </div>
            </div>
        </div>
        <div class="explore-card">
            <div class="face face1">
                <div class="content">
                    <div class="icon">
                        <img src="{{ url_for('static', filename='images/disease.png') }}" width="100%" height="100%">
                    </div>
                </div>
            </div>
            <div class="face face2">
                <div class="content">
                    <h3>
                        <a href="">Crop Disease</a>
                    </h3>
                    <p>Anticipating the name and causes of crop disease and suggestions to cure it.</p>
                    <a href = "#" style="margin-left: 70px";><button style="--color:#83CF09;--border:2px;--slant:.5em">Explore</button></a>
                </div>
            </div>
        </div>
        <div class="explore-card">
            <div class="face face1">
                <div class="content">
                    <div class="icon">
                       <img src="{{ url_for('static', filename='images/drip.jpg') }}" width="100%" height="100%">
                    </div>
                </div>
            </div>
            <div class="face face2">
                <div class="content">
                    <h3>
                        <a href="">Leakage Monitering</a>
                    </h3>
                    <p>Our Drip Irrigation Leak Detection Model is like a water-saving superhero for large-scale farms.</p>
                  <a href = "#" style="margin-left: 70px";><button style="--color:#83CF09;--border:2px;--slant:.5em">Explore</button></a>
                </div>
            </div>
        </div>
    </div>
</div>



</html>

{% endblock %}
